
/* Modal Dialogue Backdrop color */
::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}

:root {
    /* Colors for theme pink -> simply email them to the developer and they will  incorporate these values for you */
 --pink-fg: hsl(310,90%,35%);
 --pink-bg: hsl(310,90%,75%);
 --pink-apc-fg: hsl(310,90%,25%);
 --pink-apc-bg: hsl(310,90%,85%);
 --pink-dlg-fg: hsl(310,80%,25%);
 --pink-dlg-bg: hsl(310,80%,85%);
 --pink-canvas: hsl(288,80%,65%);
 --pink-img-bg: white;
--pink-svg-pen: black;
 --pink-link-fg: hsl(310,90%,35%);
 --pink-visited-fg: hsl(310,90%,35%);

/* End of pink values */

/* Dark Theme definitions */ 
    --dark-bg: hsl(240, 100%, 25%);
    --dark-fg: hsl(60, 100%, 80%);
    --dark-apc-bg: hsl(210, 100%, 35%);
    --dark-apc-fg: hsl(75, 100%, 70%);
    --dark-canvas:hsl(70,65%,40%);
--dark-dlg-bg: blue;
    --dark-dlg-fg: white;
    --dark-img-bg: hsl(240,50%, 60%);
--dark-svg-pen: hsl(200,85%,85%);
    --dark-link-fg: hsl(60, 100%, 80%);
    --dark-visited-fg: hsl(60, 100%, 80%);

/* end of dark theme values*/
    /* /Ocean Wave */
--ocean-wave-fg: hsl(240, 100%, 25.1%);
 --ocean-wave-bg: hsl(181, 63.6%, 69.8%);
--ocean-wave-apc-fg: hsl(240, 100%, 40%);
 --ocean-wave-apc-bg: hsl(181, 63.6%, 76%); 
 --ocean-wave-dlg-fg: hsl(187.39999999999998, 48.9%, 26.1%);
 --ocean-wave-dlg-bg: hsl(202.60000000000002, 81.4%, 72.5%);
 --ocean-wave-canvas: hsl(192.20000000000005, 92.5%, 36.5%);
 --ocean-wave-svg-pen: hsl(0, 0%, 0%);
--ocean-wave-link-fg: hsl(240, 100%, 25.1%);
--ocean-wave-visited-fg: hsl(240, 100%, 25.1%);

 --ocean-wave-img-bg: hsl(0, 0%, 100%);
/* end ocean wave */

/* forest */
--forest-fg: hsl(278, 100%, 10.6%);
 --forest-bg: hsl(135.2, 39.7%, 42.9%);
--forest-apc-fg: hsl(278, 100%, 20.6%);
 --forest-apc-bg: hsl(135.2, 39.7%, 52.9%);
 --forest-dlg-fg: hsl(219.10000000000002, 100%, 95.5%);
 --forest-dlg-bg: hsl(100, 29.9%, 49.2%);
 --forest-canvas: hsl(16.69999999999999, 66.5%, 43.3%);
 --forest-svg-pen: hsl(278.20000000000005, 18%, 12%);
--forest-link-fg: hsl(278, 100%, 10.6%);
--forest-visited-fg: hsl(278, 100%, 10.6%);

 /* end of forest */


/* royal */
--royal-fg: hsl(72, 78.3%, 72.9%);
 --royal-bg: hsl(241, 80%, 25.5%);

--royal-apc-fg: hsl(72, 78.3%, 80%);
 --royal-apc-bg: hsl(241, 80%, 35.5%);

 --royal-dlg-fg: hsl(0, 0%, 100%);
 --royal-dlg-bg: hsl(240, 86.6%, 38%);
 --royal-canvas: hsl(270, 72%, 30.8%);
 --royal-svg-pen: hsl(199, 84.4%, 84.9%);
--royal-link-fg: hsl(72, 78.3%, 72.9%);
--royal-visited-fg: hsl(72, 78.3%, 72.9%);

 --royal-img-bg: hsl(240, 50%, 60%);

/* end of royal */


    /*  Light Theme values */
    --light-fg: hsl(240, 100%, 25.1%);
 --light-bg: hsl(0, 0%, 82.7%);

--light-apc-fg: hsl(240, 100%, 35.1%);
 --light-apc-bg: hsl(0, 0%, 65%);

 --light-dlg-fg: hsl(0, 0%, 100%);
 --light-dlg-bg: hsl(240, 100%, 50%);
 --light-canvas: hsl(60, 100%, 50%);
 --light-svg-pen: hsl(0, 0%, 0%);
 --light-img-bg: hsl(0, 0%, 100%);
    --light-link-fg: hsl(240, 100%, 25.1%);
    --light-visited-fg: hsl(240, 100%, 25.1%);

/* End of light values */


    /* Initial Theme settings/defines values */
    --theme-bg: var(--pink-bg);
    --theme-fg: var(--pink-fg);
    --theme-apc-bg: var(--pink-apc-bg);
    --theme-apc-fg: var(--pink-apc-fg);
    --theme-canvas: VAR(--pink-canvas, yellow);
    --theme-dlg-bg: var(--pink-dlg-bg, black);
    --theme-dlg-fg: var( --pink-dlg-fg, white);
    --theme-img-bg: var(--pink-img-bg);
--theme-svg-pen: var(--pink-svg-pen);
--theme-link-fg: var(--pink-link-fg);
--theme-visited-fg: var(--pink-visited-fg);



    
    @media (prefers-color-scheme: dark) {
    --theme-bg: var(--dark-bg);
    --theme-fg: var(--dark-fg, yellow);    
    --theme-apc-fg: var(--dark-apc-fg, yellow);
--theme-apc-bg: var(--dark-apc-bg);
    --theme-fg: var(--dark-fg, yellow);    
    --theme-canvas: var(--dark-canvas);
    --theme-dlg-fg:var(--dark-dlg-fg);
    --theme-dlg-bg:var(--dark-dlg-bg);
        --theme-img-bg: var(--dark-img-bg);
    --theme-link-fg: var(--dark-link-fg, yellow);    
    --theme-visited-fg: var(--dark-visited-fg, yellow);    

    }
    @media (prefers-color-scheme: light ) {
    --theme-bg: var(--light-bg);
    --theme-fg: var(--light-fg);
    --theme-apc-bg: var(--light-apc-bg);
    --theme-apc-fg: var(--light-apc-fg);
    --theme-canvas: var(--light-canvas);
    --theme-dlg-fg:var(--light-dlg-fg);
    --theme-dlg-bg:var(--light-dlg-bg);
        --theme-img-bg: var(--light-img-bg);
--theme-svg-pen: var(--light-svg-pen);
    --theme-link-fg: var(--light-link-fg);
    --theme-visited-fg: var(--light-visited-fg);


    }
}
