
/* Modal Dialogue Backdrop color */
::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}

:root {
    /* Colors for theme pink -> simply email them to the developer and they will  incorporate these values for you */
 --pink-fg: hsl(310,90%,35%);
 --pink-bg: hsl(310,90%,75%);
 --pink-dlg-fg: hsl(310,80%,25%);
 --pink-dlg-bg: hsl(310,80%,85%);
 --pink-canvas: hsl(288,80%,65%);
 --pink-img-bg: white;
--pink-svg-pen: black;
/* End of pink values */

/* Dark Theme definitions */ 
    --dark-bg: hsl(240, 100%, 25%);
    --dark-fg: hsl(60, 100%, 80%);
    --dark-canvas:hsl(70,65%,40%);
--dark-dlg-bg: blue;
    --dark-dlg-fg: white;
    --dark-img-bg: hsl(240,50%, 60%);
--dark-svg-pen: hsl(200,85%,85%);
/* end of dark theme values*/
    /* /Ocean Wave */
--ocean-wave-fg: hsl(240, 100%, 25.1%);
 --ocean-wave-bg: hsl(156.79999999999995, 54.4%, 88.8%);
 --ocean-wave-dlg-fg: hsl(219.10000000000002, 100%, 95.5%);
 --ocean-wave-dlg-bg: hsl(240, 100%, 50%);
 --ocean-wave-canvas: hsl(189.10000000000002, 100%, 60%);
 --ocean-wave-svg-pen: hsl(0, 0%, 0%);
 --ocean-wave-img-bg: hsl(205.70000000000005, 100%, 89%);
/* end ocean wave */


    /*  Light Theme values */
    --light-bg: lightgray;
    --light-fg:#000080;
    --light-canvas:yellow;
    --light-dlg-bg: blue;
    --light-dlg-fg: white;
    --light-img-bg: white;
--light-svg-pen: black;


    /* Initial Theme settings/defines values */
    --theme-bg: var(--pink-bg);
    --theme-fg: var(--pink-fg);
    --theme-canvas: VAR(--pink-canvas, yellow);
    --theme-dlg-bg: var(--pink-dlg-bg, black);
    --theme-dlg-fg: var( --pink-dlg-fg, white);
    --theme-img-bg: var(--pink-img-bg);
--theme-svg-pen: var(--pink-svg-pen);



    
    @media (prefers-color-scheme: dark) {
    --theme-bg: var(--dark-bg);
    --theme-fg: var(--dark-fg, yellow);
    --theme-canvas: var(--dark-canvas);
    --theme-dlg-fg:var(--dark-dlg-fg);
    --theme-dlg-bg:var(--dark-dlg-bg);
        --theme-img-bg: var(--dark-img-bg);
--theme-svg-pen: var(--dark-svg-pen);
    }
    @media (prefers-color-scheme: light ) {
    --theme-bg: var(--light-bg);
    --theme-fg: var(--light-fg);
    --theme-canvas: var(--light-canvas);
    --theme-dlg-fg:var(--light-dlg-fg);
    --theme-dlg-bg:var(--light-dlg-bg);
        --theme-img-bg: var(--light-img-bg);
--theme-svg-pen: var(--light-svg-pen);
    }
}
